#app2 {
  width: 50%;
  height: 50%;
  border: 1px solid red;
  position: relative;
}
#app2 .tab-bar ul {
  list-style: none;
  width: 100%;
  height: 30px;
  display: flex;
}
#app2 li {
  width: 50%;
  border: 1px solid red;
  background-color: rgb(250, 205, 205);
  text-align: center;
  line-height: 30px;
}
#app2 li.highlight {
  background-color: yellow;
}
#app2 .content {
  width: 100%;
  height: 80%;
  position: absolute;
  display: none;
}
#app2 .content.active {
  display: block;
}
