#app4 {
  width: 50%;
  height: 50%;
  border: 1px solid red;
  position: relative;
}
#app4 .circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: tomato;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#app4 .circle.color {
  animation: change 2s infinite alternate;
}
@keyframes change {
  0% {
    background-color: tomato;
  }
  50% {
    background-color: #55efc4;
  }
  100% {
    background-color: #0984e3;
  }
}
